fastapi==0.65.2
uvicorn[standard]==0.13.4
python-multipart==0.0.5
pyjwt==2.0.1
Pillow==9.0.0
opencv-python==4.4.0.42
pre-commit==2.13.0
pylint==2.8.2
tensorflow==2.4.0
tensorflow-hub==0.7.0
pytest==6.2.4
prometheus-fastapi-instrumentator==5.7.1